/*
***************************************
*  designed by MATTHEW ZIPKIN 2012    *
* matthew(dot)zipkin(at)gmail(dot)com *
***************************************
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{	
	background-color: #000000;

	/* prevent text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	text-align:center;

	/* prevents screen flicker in chrome */
	-webkit-transform-style: preserve-3d;
}

/* options control panel, above puzzle */
#options
{
	position: relative;
	display: block;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 0px;
	top: 20px;
	width: 560px;
	height: 60px;
	margin: auto;
	z-index: 50;
}

#optionscover
{
	position: absolute;
	display: inline;
	border: 1px solid white;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -50;
	opacity: 0;
	background-color: black;
}


/* main puzzle container, centered, starts a little transparent */
#puzzlec
{
	background-image: url("../i/photo.jpg");
	display: block;
	position: relative;
	width: 600px;
	height: 800px;
	top: 60px;
	margin: auto;
	text-align: center;
	padding: 0px;
	line-height: 0px;
	border: 1px solid white;
	overflow: hidden;
}

/* floating message text or button - starts transparent*/
.floatmsg
{
	display: block;
	position: absolute;
	top: 150px;
	left: 200px;
	width: 200px;
	padding: 20px;
	margin: 0px auto;
	background-color: #F6DDDD;
	color: #9A4343;
	border-radius: 15px;
	border: solid 1px black;
	opacity: 0;
	z-index: 200;	
}
.floatmsg:hover
{
	background-color: #B2A0A0;
	cursor: pointer;
}

/* puzzle pieces, width and height set by js functions based on # of pieces */
.piece
{
	display: inline-block;
	position: relative;
	width: 0px;
	height: 0px;
	border: 1px solid white;
	z-index: 50;
}
.piece:hover
{
	border: 1px solid red;
}
.piece:active
{
	z-index: 100;
}

