/*
***************************************
*  designed by MATTHEW ZIPKIN 2012    *
* matthew(dot)zipkin(at)gmail(dot)com *
***************************************
*/



html
{
	height: 1000px;
}

body
{
	height: 100%;
	
	/* prevent text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	text-align:center;
	font-family: "PTSansRegular", Arial, sans-serif;

	/* prevents screen flicker in chrome */
	-webkit-transform-style: preserve-3d;

	/* http://gradients.glrzad.com/ */
	background-image: linear-gradient(bottom, #ffcb73 0%, rgb(255,255,255) 59%);
	background-image: -o-linear-gradient(bottom, #ffcb73 0%, rgb(255,255,255) 59%);
	background-image: -moz-linear-gradient(bottom, #ffcb73 0%, rgb(255,255,255) 59%);
	background-image: -webkit-linear-gradient(bottom, #ffcb73 0%, rgb(255,255,255) 59%);
	background-image: -ms-linear-gradient(bottom, #ffcb73 0%, rgb(255,255,255) 59%);
	background-image: -webkit-gradient(linear,left bottom,left top,	color-stop(0, #ffcb73),color-stop(0.59, rgb(255,255,255)));
}

#msgheader
{
	position: relative;
	height: 50px;
	width: 100%;
	min-width: 1000px;	

	/* http://gradients.glrzad.com/ */
	background-image: linear-gradient(bottom, #ffcb73 100%, rgb(255,255,255) 20%);
	background-image: -o-linear-gradient(bottom, #ffcb73 100%, rgb(255,255,255) 20%);
	background-image: -moz-linear-gradient(top, #ffcb73 20%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, #ffcb73 100%, rgb(255,255,255) 20%);
	background-image: -ms-linear-gradient(bottom, #ffcb73 100%, rgb(255,255,255) 20%);
	background-image: -webkit-gradient(linear,left bottom,left top,	color-stop(1, #ffcb73),color-stop(0.20, rgb(255,255,255)));
}

/* main puzzle container, centered */
#puzzlec
{
	display: block;
	position: relative;
	width: 600px;
	height: 800px;
	top: 10px;
	margin: auto;
	text-align: center;
	padding: 0px;
	line-height: 0px;
	border: 1px solid black;
	overflow: hidden;
	background-color: #ffcb73;
}

/* floating message text or button - starts transparent*/
.floatmsg
{
	display: block;
	position: absolute;
	top: 150px;
	left: 10%;
	right: 10%;
	padding: 20px;
	margin: 0px auto;
	background-color: #ffcb73;
	color: black;
	font-size: 30px;
	line-height: 30px;
	border-radius: 15px;
	border: solid 1px black;
	opacity: 0;
	z-index: 200;
}
.floatmsg:hover
{
	background-color: #ffa100;
	cursor: pointer;
}

/* puzzle pieces, width and height set by js functions based on # of pieces */
.piece
{
	display: inline-block;
	position: relative;
	width: 0px;
	height: 0px;
	border: 1px solid white;
	z-index: 50;
	background-repeat: no-repeat;
}
.piece:hover
{
	border: 1px solid red;
}
.piece:active
{
	z-index: 100;
}

#prizec
{
	display: block;
	visibility: hidden;
	position: relative;
	width: 600px;
	height: 800px;
	top: 10px;
	margin: auto;
	text-align: center;
	padding: 0px;
	font-size: 30px;
	border: 1px solid black;
	overflow: hidden;
	background-color: #ffcb73;
}

#prizecimg
{
	background-size: contain;
	height: 85%;
	width: 85%;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}
